
<!-- Footer Start -->
<div class="vc_empty_space, bg-dark" style="height: 3px"><span class="vc_empty_space_inner"></span></div>
<div class="container-fluid bg-white text-dark">
  <div class="row px-xl-5 pt-5">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
      <h5 class="text-dark text-uppercase mb-4">BookStore</h5>
      <p class="mb-4">BookStore nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống BookStore trên toàn quốc.</p>
      <p class="mb-2"><i class="fa fa-map-marker-alt text-dark mr-3"></i>295 Nguyễn Tất Thành, Hải Châu, Đà Nẵng</p>
      <p class="mb-2"><i class="fa fa-envelope text-dark mr-3"></i>bookstore@gmail.com</p>
      <p class="mb-0"><i class="fa fa-phone-alt text-dark mr-3"></i>0909999999</p>
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h5 class="text-dark text-uppercase mb-4">Sản Phẩm</h5>
          <div class="d-flex flex-column justify-content-start">
            <a style="text-decoration: none" class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Văn Học Việt Nam</a>
            <a style="text-decoration: none" class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Văn Học Nước Ngoài</a>
            <a style="text-decoration: none" class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Thiếu nhi</a>
            <a style="text-decoration: none" class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Thời Sự - Chính Trị</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-dark text-uppercase mb-4">Về Hiệu Sách</h5>
          <div class="d-flex flex-column justify-content-start">
            <a style="text-decoration: none" class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Giới thiệu nhà sách</a>
            <a style="text-decoration: none" class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách bảo mật</a>
            <a style="text-decoration: none" class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách vận chuyển</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-dark text-uppercase mb-4">Đăng Ký Nhận Thông Tin Sách Mới</h5>
          <form action="">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nhập email">
<!--              <div class="input-group-append">-->
<!--                <button class="btn btn-secondary">Đăng ký</button>-->
<!--              </div>-->
            </div>
          </form>
          <h6 class="text-dark text-uppercase mt-4 mb-3">Thanh Toán</h6>
          <!--          <div class="d-flex">-->
          <!--            <a class="btn text-dark btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>-->
          <!--            <a class="btn text-dark btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>-->
          <!--            <a class="btn text-dark btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
          <!--            <a class="btn text-dark btn-square" href="#"><i class="fab fa-instagram"></i></a>-->
          <!--          </div>-->
          <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img src="../../assets/img/payments.png" height="22" width="255"/></div>
        </div>
      </div>
    </div>
  </div>
  <!--  <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">-->
  <!--    <div class="col-md-6 px-xl-0">-->
  <!--      <p class="mb-md-0 text-center text-md-left text-dark">-->
  <!--        &copy; <a class="text-dark" href="#">Domain</a>. All Rights Reserved. Designed-->
  <!--        by-->
  <!--        <a class="text-dark" href="https://htmlcodex.com">HTML Codex</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--    <div class="col-md-6 px-xl-0 text-center text-md-right">-->
  <!--      <img class="img-fluid" src="img/payments.png" alt="">-->
  <!--    </div>-->
  <!--  </div>-->
</div>
<!-- Footer End -->

